html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#content {
    height: 800px;
}
#left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
#right {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}