<nav class="navbar navbar-default navbar-expand-lg fixed-top bootsnav on no-full sticked shadow " style="background-color: rgb(196, 228, 228);">
    <a class="navbar-brand " >
       <strong> PLAGIARISM DETECTION</strong>
    </a>
    <div >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" >
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li *ngIf="isLogedIn" class="nav-item">
                    <a class="nav-link text-info" [routerLink]="[ '/my/contests' ]">MY CONTESTS</a>
                </li>
                <li *ngIf="isLogedIn" class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="[ '/generate/plagiarism/report' ]">REQUEST PLAGIRISM TEST FOR YOU'R CONTEST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="[ '/batch' ]"><strong> BATCH REPORT</strong> </a>
                </li>
                <li *ngIf="isLogedIn" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <!-- <a class="dropdown-item" [routerLink]="[ '/create/file' ]">Generate and View Result</a> -->
                        <a class="dropdown-item" [routerLink]="[ '/leaderboard' ]">leaderboard</a>

                        <!-- <a class="dropdown-item" [routerLink]="[ '/admin/uploadScore' ]">upload Scores</a> -->
                    </div>
                </li>
                <li *ngIf="!isLogedIn" class="nav-item ">
                    <a class="nav-link" [routerLink]="[ '/login' ]">LOGIN</a>
                </li>
                <li *ngIf="isLogedIn" class="nav-item ">
                    <button class="btn btn-outline-dark" (click)="logOut()">LOGOUT</button>
                    <!-- <a class="nav-link" (click)="logOut()">Logout</a> -->
                </li>
               
            </ul>
        </div>
    </div>
</nav>

<router-outlet> </router-outlet>