<div class="container " style="margin-top: 80px;">

  <h1 class="display-4  text-center"> <strong style="color: green;">{{contest_name}} </strong>
    <button class="btn btn-success" (click)="onGen()"><i class="fa fa-download"></i> Download Result </button>
  </h1>
</div>
<div class="mar mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th >
          {{problem[0]}}
        </th>
        <th>
          {{problem[1]}}
        </th>
        <th>
          {{problem[3]}}
        </th>
        <th class="text-center" >
          MatchPercent
        </th>
        <th class="text-center">
          {{problem[5]}}
        </th>
        <th class="text-center">
          CompareCode
        </th>
        <th class="text-center">
          {{problem[8]}}
        </th>
        <th>
          ClickToMarkCopied
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of finalData; let i = index">
        <td>{{person.problemName}}</td>
        <td><a href={{person.profileOne}}>{{person.UserNameOne}}</a></td>
        <td><a href={{person.profileTwo}}>{{person.UserNameTwo}}</a></td>
        <td class="text-center">{{person.MatchPercent}}%</td>
        <td class="text-center">{{person.TotalMatchedLine}}</td>
        <td class="text-center"><button
            (click)="onCall(person.SubmissionIdOne,person.SubmissionIdTwo,person.MatchPercentOne,person.MatchPercentTwo)"
            style="color: rgb(2, 163, 16);">{{person.SubmissionIdOne}}</button>
          <button
            (click)="onCall(person.SubmissionIdTwo,person.SubmissionIdOne,person.MatchPercentTwo,person.MatchPercentOne)"
            style="color: rgb(2, 163, 16);">{{person.SubmissionIdTwo}}</button></td>
        <td class="text-center"><a href={{person.MossViewLink}} style="color: red;">View</a></td>
        <td *ngIf="!person.copied">
          <button class="btn btn-outline-success" (click)="onToggle(person._id,person.copied,i)">Not Copied</button>
        </td>
        <td *ngIf="person.copied">
          <button class="btn btn-outline-danger" (click)="onToggle(person._id,person.copied,i)">Copied</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

