<!-- <button class="btn btn-primary" (click)=onLogout()>LogOut</button> -->

<div class="container " style="margin-top: 80px;">
    <div class="col-sm-12 ">
        <h1 class="display-4  text-center">Choose contest to create files of submissions in <strong
                style="color: green;">Plagiarism-Detection/plagirasmFile</strong></h1>
    </div>
    <form [formGroup]="findform" (ngSubmit)="onFind()">

        <div class="row">
            <div class="col-sm-11 mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Contest Name</span>
                    </div>
                    <select class="form-control" formControlName="contest_name">
                        <option *ngFor="let op of contests" [value]="op">
                            {{ op}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1 mt-3">
                <button class="btn btn-primary" [disabled]="!findform.valid && disableForm">Generate</button>
            </div>
        </div>
    </form>
</div>


<div class="container mt-3">
    <div class="row">
        <div class=" text-center display-4 col-sm-12 mt-5">
            Files Generated & Uploading files..
            <span *ngIf="!fillUrl1" class="dot"></span>
            <span *ngIf="fillUrl1" class="dotg"></span>

        </div>

        <div class="text-center display-4 col-sm-12 mt-5">
            Results Saved To DB Successfully !!
            <span *ngIf="!fillUrl2" class="dot"></span>
            <span *ngIf="fillUrl2" class="dotg"></span>
        </div>
        <div class="text-center display-4 col-sm-12 mt-5">
             Files Deleted from plagiarism File !
            <span *ngIf="!fillUrl3" class="dot"></span>
            <span *ngIf="fillUrl3" class="dotg"></span>
        </div>
    </div>
</div>


<div  class="container mt-5">

    <form [formGroup]="generateResultform" (ngSubmit)="onGenerate()">

        <div class="row">
            <div class="col-sm-10 mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Contest Name</span>
                    </div>
                    <select class="form-control" formControlName="contest_name">
                        <option *ngFor="let op of uniqueContestResult" [value]="op">
                            {{ op}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 mt-3">
                <button class="btn btn-danger" [disabled]="!generateResultform.valid">View Result</button>
            </div>
        </div>
    </form>
</div>


<div style="margin-bottom: 100px;">

</div>